<header>
    <h1 href="/"><a href="/" style="text-decoration: none; color: #000;">Butu rezervacijos sistema</a></h1>
    <a href="/user">user</a>
    <a href="/admin">admin</a>
    <a href="/database">database(not working)</a>
</header>