<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', { title: 'Main page' }) %>
<body>
    <!-- <h1>hello world</h1>
    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis autem molestiae dolore harum quas, tempora illo voluptatibus veritatis, repellendus at consectetur incidunt quos esse, nam ea dolores sint! Dolore, provident.</h5> -->
    <%- include('../partials/header') %>
        
    <%- include('../partials/footer') %>
    <script src="script.js"></script>
</body>
</html>